<!DOCTYPE html>
<html>
  <head>
    <title>うわああ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:title" content="あんたの五角形" />
    <meta property="og:image" content="画像のURL" /> 
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application_style' %>
    <%= javascript_pack_tag 'application_style' %>
    
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
